@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<li id="l-bourse">
    <h3>»Ê—”</h3>
        <p class="info-price">@ViewData["infoPrice"]</span>
    <p class="info-change">@ViewData["infoChange"]</p>
</li>